<ion-view class="bgfff">
    <ion-content>
        <!--logo-->
        <div style="width: 100%;height: 200px;position: relative">
            <div  style="width: 200px;height:150px;margin: auto;position: absolute;top: 0; left: 0; bottom: 0; right: 0;text-align: center">
                <img src="images/mx.png"  style="width: 90px;height: 90px;margin: auto;">
                <p class="fs17 colff66 mt10">唯美帮</p>
                <p class="fs12 col99">1.10版</p>
            </div>
        </div>
        <!--电话 邮箱-->
        <div class="fs15">
            <p style="height: 60px;line-height:60px;border-bottom: 1px solid #e5e5e5"><span class="ml10 col33">客服电话</span><span class="fr  colff66 mr20">400-600-888</span></p>
            <p style="height: 60px;line-height:60px;border-bottom: 1px solid #e5e5e5"><span class="ml10 col33">公司邮箱</span><span class="fr col88 mr20">weimeidu@99.com</span></p>
        </div>

    </ion-content>
</ion-view>