<ion-view>
    <ion-content class="partialFiles">
        <ion-list>
            <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between" ng-click="recordCashierGo()">
                <p class="ml10">收银记录</p>
                <p class="mr10">
                    <img src="images/more.png" style="width:8px;height:14.1px;">
                </p>
            </ion-item>
            <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between" ng-click="goDrawCardRecords()">
                <p class="ml10">划卡记录</p>
                <p class="mr10">
                    <img src="images/more.png" style="width:8px;height:14.1px;">
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
