<ion-view>
    <ion-content class="partialFiles bgf6">
        <div >
            <ion-list>
                <ion-item style="width:95%;margin:10px auto;border-radius: 2px;" ng-repeat="item in product" ng-click="goProductDetails()">
                    <div style="height:88px;border-top-right-radius: 2px;border-top-left-radius: 2px;" class="ml10">
                        <p class="fs15 col333 mt10 mb5   ">{{item.shopProductName}}</p>
                        <p class="fs13 mt5">金额：{{item.purchasePrice}}元</p>
                        <p class="fs13 col888 mt5">
                            <span style="wiwdth:130px;display: inline-block">购买数量：{{item.initTimes}} </span>
                            未领取数量：{{item.surplusTimes}}</p>
                    </div>
                    <p class="h30 fs12 col888 bge6" style="border-bottom-right-radius: 2px;border-bottom-left-radius: 2px;">
                        <span class="ml10">购买时间：{{item.createDate|date:'yyyy-MM-dd'}}</span>
                    </p>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>