<ion-view class="bg">
    <ion-content>
        <!--日期部分-->
        <div class="bgRgb">
            <ionic-datepicker input-obj="datepickerObjectEnd">
                <img src="images/work/date.png" class="dateImg" >
                <span class="date">{{param.date}}</span>
                <img src="images/work/drop-down.png" class="dropImg">
            </ionic-datepicker>
        </div>
        <!--业绩耗卡-->
        <div class="list">
            <a class="item">
                <div class="list comprehensiveBox" style="position: relative;border-radius: 10px;">
                    <div class="row comprehensiveBox1">
                        <div class=" comprehensiveBox2 col col-50">
                            业绩
                            <p class="colff">{{comList.income}}</p>
                        </div>
                        <div class=" comprehensiveBox2 col col-50" >
                            耗卡
                            <p class="colff">{{comList.expenditure}}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <!--来源分析-->
        <p style="font-size: 14px;margin-left: 18px;color: #333333;margin-top: -9px;margin-bottom: 5px;">来源分析</p>
        <!--业绩-->
        <div class="list" ng-click="detailedPerformanceGo('1')">
            <p class="item" style="padding: 8px"><span>业绩</span>
                <span style="float:right;font-size: 0.3rem;color: #ff6666">{{comList.income}}<i style="margin-left: 10px;color: #999999" class="ion ion-ios-arrow-right"></i></span></p>
            <div class="row row-wrap" style="background: #ffffff;color: #333333;text-align: center;padding: 0px">
                <div class="col col-50" style="border-right: 1px solid #e5e5e5;padding-top: 10px;border-bottom: 1px solid #e5e5e5;position: relative">
                    <img src="images/work/recharge.png" alt="" style="width: 17px;height: 18px;display: inline-block;position: absolute;top: 16px;left: 22%">
                    充值
                    <p style="margin-top: 5px">{{comList.recharge}}</p>
                </div>
                <div class="col col-50"  style="padding-top: 10px;border-bottom: 1px solid #e5e5e5;position: relative">
                    <img src="images/work/Arrears.png" alt="" style="width: 17px;height: 18px;display: inline-block;position: absolute;top: 16px;left: 22%">
                    消费
                    <p style="margin-top: 5px">{{comList.consume}}</p>
                </div>
            </div>
        </div>
        <!--耗卡-->
        <div class="list" ng-click="detailedPerformanceGo('2')">
            <p class="item" style="padding: 8px"><span>耗卡</span>
                <span style="float:right;font-size: 0.3rem;color: #ff6666">{{comList.expenditure}}<i style="margin-left: 10px;color: #999999" class="ion ion-ios-arrow-right"></i></span></p>
            <div class="row row-wrap" style="background: #ffffff;color: #333333;text-align: center;padding: 0px">
                <div class="col col-50" style="border-right: 1px solid #e5e5e5;padding-top: 10px;border-bottom: 1px solid #e5e5e5;position: relative">
                    <img src="images/work/Delimitcard.png" alt="" style="width: 17px;height: 18px;display: inline-block;position: absolute;top: 16px;left: 22%">
                    划卡
                    <p style="margin-top: 5px">{{comList.scratchCard}}</p>
                </div>
                <div class="col col-50" style="border-right: 1px solid #e5e5e5;padding-top: 10px;position: relative">
                    <img src="images/work/singleConsumption.png" alt="" style="width: 17px;height: 18px;display: inline-block;position: absolute;top: 16px;left: 22%">
                    <p style="margin-left: 0.8rem">单次消费耗卡</p>
                    <p style="margin-top: 5px">{{comList.oneConsume}}</p>
                </div>
            </div>
        </div>
        <!--卡耗-->
       <!-- <div class="list" ng-click="detailedPerformanceGo('3')">
            <p class="item" style="padding: 8px"><span>卡耗</span><span style="float:right;font-size: 0.3rem;color: #ff6666">{{comList.kahao}}<i style="margin-left: 10px;color: #999999" class="ion ion-ios-arrow-right"></i></span></p>
            <div class="row" style="background: #ffffff;color: #333333;text-align: center;padding: 0px">
                <div class="col col-50" style="border-right: 1px solid #e5e5e5;padding-top: 10px;border-bottom: 1px solid #e5e5e5;position: relative">

                    <img src="images/work/Arrears.png" alt="" style="width: 17px;height: 18px;display: inline-block;position: absolute;top: 16px;left: 22%">
                    消费
                    <p style="margin-top: 5px">{{comList.cardConsume}}</p>
                </div>
            </div>
        </div>-->
    </ion-content>
</ion-view>