<ion-view class="bg">
    <ion-content>
        <ion-item  class="bgfff row mt10" ng-click="modificationInformationGo()">
            <div class="col col-15">
                <img ng-src="{{userInfo.photo}}" style="width: 50px;height: 50px;border-radius: 10%">
            </div>
            <div class="col col-60">
                <p class="fs15 col33">{{userInfo.name}}</p >
                <p class="fs12 col88"><span>店员</span></p >
            </div>
            <p class="col col-25">
                <i style="color: #959595;font-size: 22px" class="ion ion-ios-arrow-right fr  mt10 mr10"></i>
            </p >
        </ion-item>
        <!--<div class="list mt20">-->
            <!--<p class="item" ng-click="myStoreGo()"><img src="images/mine/store.png" style="width: 21px;height: 20px;display: inline-block"><span class="ml10 fs15 col33 bold">我的门店</span></p>-->
        <!--</div>-->
        <div class="list">
            <p class="item" ng-click="setInformationGo()"><img src="images/mine/Set.png" style="width: 21px;height: 20px;display: inline-block"><span class="ml10 fs15 col33 bold">设置</span></p>
        </div>
    </ion-content>
    <clerk-footer></clerk-footer>
</ion-view>