<ion-view class="bg">
    <ion-content>
        <div>
            <div class="tc">
                <img ng-src="" style="width:60%;height: 125px;margin: auto">
            </div>
            <!--门店信息-->
            <div style="width: 345px;height: 103px;margin: auto;background: #ffffff;border-radius: 5px">
                <p class="ph ml17"><img src="images/mine/shop.png" style="width: 25px;height: 25px;display: inline-block;"><span></span><span class="ml16 col33"></span><span style="width: 55px;height: 20px;border: 1px solid #FF6666;border-radius: 2px;display: inline-block;float: right;font-size: 12px;color: #FF6666;text-align: center;line-height: 20px;margin: 10px">支持上门</span></p>
                <p class="ph ml17"><img src="images/mine/shoPhone.png" style="width: 12px;height: 12px;display: inline-block"><span></span><span class="ml16  col99"></span></p>
                <p class="ph ml17"><img src="images/mine/postionb.png" style="width: 9px;height: 15px;display: inline-block"><span></span><span class="ml16 col99"></span></p>
            </div>
            <!--价目表-->
            <div class="list fs15 mt20">
                <p class="item p10 mt10">企业简介</p>
                <p class="item p10"></p>
            </div>
        </div>
        <!--分店列表-->
        <div class="list bgfff mt10">
            <p class="item p10"><span>分店列表</span><img src="images/mine/drop-down.png" style="width: 12px;height: 6px;display: inline-block;float: right;margin-top:8px"></p>
        </div>
        <!--列表-->
        <div style="width: 100%;background: #ffffff;padding:20px;"  ng-click="branchShopGo()" >
            <ion-item  class="row" style="width: 342px;height: 73px;background: #F6F6F6;margin:auto;">
                <div class="col col-80" >
                    <p style="font-size: 15px"><span></span></p >
                    <p style="font-size: 12px;color: #888888">
                        <span></span>
                    </p >
                </div>
                <div class="col col-20">
                    <i class=" ion ion-ios-arrow-right fr mt10"></i>
                </div>
            </ion-item>
        </div>
    </ion-content>
</ion-view>