<ion-view class="bg col33">
    <ion-content>
        <div>
            <img ng-src="" style="width:100%;height: 188px;">
        </div>
        <div class="list">
            <li class="item fs14">门店简介</li>
            <div class="fs13 bgfff p10">
                <p></p>
            </div>
        </div>
        <div class="list fs14">
            <p class="item"><img src="images/mine/shopTell.png" style="width: 16px;;height: 16px;display: inline-block"><span class="ml5">门店电话&nbsp;&nbsp;12345 </span></p>
            <p class="item"><img src="images/mine/shopTime.png" style="width: 16px;;height: 16px;display: inline-block"><span class="ml5">营业时间 09:00 - 20:00 </span></p>
            <p class="item"><span  style="width:30px;;height: 15px;display: inline-block;font-size: 8px!important;color: #FF6666;border-radius: 5px;border: 1px solid #FF6666;text-align: center;line-height: 15px">地址</span><span class="ml5"></span></p>
        </div>

    </ion-content>
</ion-view>