<ion-view>
    <ion-content class="partialFiles bgf6">
        <div>
            <p class="sb h45 bgfff  ">
                <label class="fs16 col333 ml10 mt10">产品品牌</label>
                <input type="text" style="width:75%;text-align: right" class="fs14 col999 mt5 mr10" placeholder="请输入产品品牌名称">
            </p>
            <p style="width:165px;height:44px;margin:auto;background: #FF6666;box-shadow: 0 4px 4px 0 rgba(255,102,102,0.24);border-radius: 100px;line-height: 44px;margin-top:100px;" class="center colfff " ng-click="addSeriesGo()">保存</p>
        </div>
    </ion-content>
</ion-view>