<ion-view>
    <ion-content class="partialFiles mb45 bgf6" scroll="true">
        <div>
            <div class="">
                <ion-item class="pd15 h50 sb">
                    <p class="fs16 col333">出库类型<span class="colff66">*</span></p>
                    <p class="fs14 col999">
                        <span ng-click="selectTheOutboundTypeGo()">
                            <span ng-if="shopInfo.outShopStockType==''">请选择</span>
                            <span ng-if="shopInfo.outShopStockType=='1'">内部员工</span>
                            <span ng-if="shopInfo.outShopStockType=='2'">顾客</span>
                            <span ng-if="shopInfo.outShopStockType=='3'">赠送</span>
                            <span ng-if="shopInfo.outShopStockType=='4'">报废</span>
                            <span ng-if="shopInfo.outShopStockType=='5'">院用</span>
                            <span ng-if="shopInfo.outShopStockType=='6'">退回供应商</span>
                            <span ng-if="shopInfo.outShopStockType=='7'">下发分店</span>
                            <img src="images/more.png" class="more">
                        </span>
                    </p>
                </ion-item>
                <ion-item class="pd15 h50 sb" ng-show="false">
                    <p class="fs16 col333">单据号<span class="colff66"></span></p>
                    <p class="fs14 col999">
                        <span> </span>
                    </p>
                </ion-item>
                <ion-item class="pd15 h50 sb">
                    <p class="fs16 col333">领取人<span class="colff66">*</span></p>
                    <p class="fs14 col999" ng-click="selReceiver()">
                        <input type="hidden"  ng-model="param.outOperationVal" id="outOperationVal"  style="width:100%;border:none;text-align: right">
                        <input type="text"  placeholder="请输入领取人姓名>" id="outOperationName" ng-model="param.outOperationName"  style="width:100%;border:none;text-align: right">
                    </p>
                </ion-item>
            </div>
            <div class="sb bgfff" style="height:65px;">
                <label class="fs16 col333 ml15 mt10">备注</label>
                <textarea maxlength="50" class="fs14 col999 mt10 mr15 pd15"
                          style="border: 1px solid #CCCCCC;border-radius: 4px;height:50px;width:80%"
                          placeholder="请输入产品的备注信息，最长不超过50个字"
                          ng-model="param.detail">
                </textarea>
            </div>
            <div>
                <div style="border:solid 1px #e6e6e6;border-radius: 6px;width:95%;margin: 10px auto 0;box-shadow: 0 2px 4px 0 rgba(153,153,153,0.20)" class="" ng-repeat="item in param.shopStock">
                    <ion-list>
                        <ion-item style="height:90px;border-radius:6px 6px 0 0" class="row" >

                            <p style="border:solid 1px #f6f6f6;background: url('{{item.productUrl}}');background-position: center center;background-size: contain;background-repeat: no-repeat;" class="col col-20">
                                <img ng-src="" style="width:100%;">
                            </p>
                            <div class="col col-60">
                                <P class="fs14 col333 ">{{item.productName}}</P>
                                <P class="fs12 col888 mt10">编号：{{item.productCode}}</P>
                                <P class="fs12 col888">
                                    <span>单位：{{item.productUnit}}</span>
                                    <span class="ml50">规格：{{item.productSpec}}</span>
                                </P>
                            </div>
                            <p ng-click="deleteOutboundProduct(item.shopProcId)" class="col col-20">
                                <img src="images/inventory/delTong.png"  class=" fr mr10 mt20" style="width:25px;height:25px;">
                            </p>
                        </ion-item>
                    </ion-list>
                    <p class="h40 sb bbl" style="background: #F6F6F6;">
                        <span class="ml20 fs14 col333">库存数量</span>
                        <span class="mr20 fs14 col333">{{item.stockNumber}}</span>
                    </p>
                    <p class="h40 sb bbl" style="background: #F6F6F6;border-radius: 0 0 6px 6px;">
                        <span class="ml20 fs14 col333">出库数量</span>
                        <input type="text"class="mr20 fs14 col333" style="text-align: right" ng-model="item.stockOutNumber">
                    </p>
                </div>
            </div>
            <p class="h45 bgfff fs14 center colff66" style="width:95%;margin:20px auto 0 ;" ng-show="false">
                <span ng-click="productInventoryGo('2')">选择更多产品出库</span><span class="col333">或者</span><span ng-click="productInventoryGo('3')">扫码出库</span>
            </p>
        </div>
    </ion-content>
    <div class="h45 bgff66 colfff fs15 tabs" ng-click="successfulInventoryGo()">
        确认出库({{sum}}/30)
    </div>
</ion-view>