<ion-view>
    <ion-content class="partialFiles bgf6">
        <P class="h45 bgfff bbl">
            <label class="fs16 col333 ml10">出库方式：</label>
            <span class="fs14 col666"><img src="images/selRed.png" class="selGray mr5">手动出库</span>
            <span class="fs14 col666"><img src="images/selTrue.png" class="selGray ml10 mr5">扫码出库</span>
        </P>
        <div class="h45 bgfff row fs14">
            <div class="col col-33 center" style="border-right: solid 1px #f6f6f6">
                <p style="margin-top:-10px">客装产品 </p>
            </div>
            <div class="col col-33 center" style="border-right: solid 1px #f6f6f6">
                <p style="margin-top:-10px">院装产品</p>
            </div>
            <div class="col col-33 center">
                <p style="margin-top:-10px">易耗品</p>
            </div>
        </div>
    </ion-content>
</ion-view>
