<ion-view>
    <ion-content class="partialFiles bgf6"  style="margin-bottom: 45px;" >
        <!--<ion-content class="partialFiles bgf6"  style="margin-bottom: 45px;" ng-click="all()">-->
        <div style="position: relative">
            <div style="position:relative ">
                <div>
                    <ion-list>
                        <ion-item class="item-input" style="background: border-box;height: 40px; ">
                        <span class="item-input-wrapper" style="margin-right:10px;height:30px;margin-left:10px;" >
                                <i class="icon ion-ios-search placeholder-icon" ng-click="search()"></i>
                                <input id="search" type="search" ng-change="search()" placeholder="搜索产品名称/产品编号" ng-model="param.searchContent" >
                                <i class="icon ion-close-circled placeholder-icon" style="vertical-align: middle;"
                                   on-tap="clearSearch()" ng-if="param.searchContent.length"></i>
                        </span>
                        </ion-item>
                    </ion-list>
                </div>
                <div>
                    <ion-list>
                        <ion-item style="height:90px;width:95%;margin: 0px auto 10px; border-radius: 6px; box-shadow: 0 2px 4px 0 rgba(153,153,153,0.20)" class="row" ng-repeat="item in param.detailProductList"
                                  ng-click="selProduct($index,item.id)">

                            <p style="height:70px;border:solid 1px #f6f6f6;width:75px;background: url('{{item.productUrl}}');background-repeat: no-repeat;background-size: contain;background-position: center center"  class="mt10 ml10 col col-20" >

                            </p>
                            <div class="ml10 mt10 col col-60">
                                <P class="fs14 col333 ">{{item.productName}}</P>
                                <P class="fs12 col888 mt10">编号：{{item.productCode}}</P>
                                <P class="fs12 col888">
                                    <span>单位：{{item.productUnit}}</span>
                                    <span class="ml50">规格：{{item.productSpec}}</span>
                                </P>
                            </div>
                        </ion-item>
                    </ion-list>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>