<ion-view>
    <ion-content class="partialFiles bgfff">
      <div class="row row-wrap "  style="margin-top: 100px;">
          <p class="col col-33 center" ng-click ='earlyWarningGoods()'>
              <img src="images/inventory/inventoryPic.png" class="settingPic mt10">
              <a class="fs12 col333 mt10">预警商品</a>
          </p>
          <p class="col col-33 center" ng-click="putInStorageGo()">
              <img src="images/inventory/putInStoragePic.png" class="settingPic mt10">
              <a class="fs12 col333 mt10">入库</a>
          </p>
          <p class="col col-33 center" ng-click="outboundGo()">
              <img src="images/inventory/outboundPic.png" class="settingPic mt10">
              <a class="fs12 col333 mt10">出库</a>
          </p>
          <p class="col col-33 center" ng-click="inventoryDetailsGo()">
              <img src="images/inventory/inventoryDetailsPic.png" class="settingPic mt10">
              <a class="fs12 col333 mt10">库存详情</a>
          </p>
          <p class="col col-33 center" ng-click="libraryTubeSettingGo()">
              <img src="images/inventory/settingPic.png" class="settingPic mt10">
              <a class="fs12 col333 mt10">库管设置</a>
          </p>
      </div>
    </ion-content>
</ion-view>