<ion-view>
    <ion-content class="partialFiles">
        <div>
            <p class="h40 bgfff" style="display: flex;justify-content: space-around">
                <span class="fs13 colff66">2018-04-01</span>
                <span class="fs13 col333">至</span>
                <span class="fs13 colff66">2018-04-01</span>
            </p>
            <div>
                <ion-list>
                    <ion-item class="" ng-repeat="item in [0,1,2,3,4]" style="width:95%;margin: 10px auto 0;border-radius:  6px;box-shadow: 0 2px 2px 0 rgba(102,102,102,0.24)" ng-click="outboundOrderDetailsGo()">
                        <p class="fs12 col333 " style="background: #F9F9F9;height:25px;line-height: 25px;">
                            <img src="images/inventory/time.png" class="timeSquarePic ml10 mr10">
                            2018-04-02 07：14
                        </p>
                        <div style="height:58px;border-radius: 0 0 6px 6px;"  >
                            <p class="fs14 col333 ml10 mt10 ">单号：  R2018040293414</p>
                            <div class="sb">
                                <p class="fs14 col333 ml10">库存类型：
                                    <span>  采购入库</span>
                                </p>
                                <p class="fs17 colff66 mr10" style="margin-top:-5px;"> +30</p>
                            </div>
                        </div>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>