<ion-view>
    <ion-content class="partialFiles">
        <div>
            <ion-list>
                <ion-item class="h40 sb " ng-repeat="item in [0,1,2]" ng-click="inventoryRecordsDetailsGo()">
                    <p class="ml10 col333 fs14">2018-04-14</p>
                    <p class="ml10 col333 fs14 mr10">异常： 2 未处理</p>
                </ion-item>
                <ion-item class="h40 sb">
                    <p class="ml10 col333 fs14">2018-04-14</p>
                    <p class="ml10 col333 fs14 mr10 colff66">异常： 2 未处理</p>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>