<ion-view>
    <ion-content class="partialFiles">
        <div>
            <ion-list>
                <ion-item class="h45 pd15 sb " ng-click="libraryTubeSettingGo()">
                    <p class="fs15 col33" >
                        <img src="images/inventory/libraryTubeSet.png" class="settingKuPic mr10">
                        库管设置
                    </p>
                    <p>
                        <img src="images/more.png" class="more">
                    </p>
                </ion-item>
                <ion-item class="h45 pd15 sb " ng-click="productBrandGo()">
                    <p class="fs15 col33" >
                        <img src="images/inventory/productBrandSetting.png" class="settingKuPic mr10">
                        产品品牌设置
                    </p>
                    <p>
                        <img src="images/more.png" class="more">
                    </p>
                </ion-item>
                <ion-item class="h45 pd15 sb " ng-click="addProductGo()">
                    <p class="fs15 col33">
                        <img src="images/inventory/addWarehouseProduct.png" class="settingKuPic mr10">
                        添加仓库产品
                    </p>
                    <p>
                        <img src="images/more.png" class="more">
                    </p>
                </ion-item>
                <ion-item class="h45 pd15 sb " ng-click="warehouseProductsGo()">
                    <p class="fs15 col33">
                        <img src="images/inventory/addWarehouseProduct.png" class="settingKuPic mr10">
                        编辑/删除仓库产品
                    </p>
                    <p>
                        <img src="images/more.png" class="more">
                    </p>
                </ion-item>
                <ion-item class="h45 pd15 sb ">
                    <p class="fs15 col33">
                        <img src="images/inventory/registerSetting.png" class="settingKuPic mr10">
                        寄存库设置
                    </p>
                    <p>
                        <img src="images/more.png" class="more">
                    </p>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>