<ion-view>
    <ion-content class="partialFiles">
        <div>
            <p class="h30 bgfff" style="display: flex;justify-content: space-around">
                <span class="fs13 colff66">2018-04-01</span>
                <span class="fs13 col333">至</span>
                <span class="fs13 colff66">2018-04-01</span>
            </p>
            <p class="h45 bgfff mt10">
                <span style="width:3px;height:17px;background: #FF6666;display: inline-block" class="mr5 ml10"></span>
                可丽金
            </p>
            <div class="mt10 bgfff" ng-repeat="item in [0,1]">
                <P class="h30 fs14 col888 bbl ml10" >2018-04-02 19:14</P>
                <div  class="sb " style="height:70px;">
                    <div class="mt5">
                        <p class="fs16 col333 ml10">入库</p>
                        <p class="fs14 col333 ml10 mt5">订单编号：NVENTORYIN-29…</p>
                    </div>
                    <p class="fs14 col333 mr10 mt5      ">入库数量：30</p>
                </div>
            </div>
            <p class="fs14 col666 h45 center">点击加载更多</p>
        </div>
    </ion-content>
</ion-view>