<ion-view>
    <ion-content class="partialFiles bgf6">
        <div class="bgfff">
            <p class="h45 ml10 bbl" ng-click="AddOutboundGo('1')">
                内部员工
            </p>
            <p class="h45 ml10 bbl" ng-click="AddOutboundGo('2')">
                顾客
            </p>
            <p class="h45 ml10 bbl" ng-click="AddOutboundGo('3')">
                赠送
            </p>
            <p class="h45 ml10 bbl" ng-click="AddOutboundGo('4')">
                报废
            </p>
            <p class="h45 ml10 bbl" ng-click="AddOutboundGo('5')">
                院用
            </p>
            <p class="h45 ml10 bbl" ng-click="AddOutboundGo('6')">
                退回供应商
            </p>
            <p class="h45 ml10 bbl" ng-click="AddOutboundGo('7')">
                下发分店
            </p>
        </div>
    </ion-content>
</ion-view>