<ion-view>
    <ion-content class="partialFiles">
        <div class="h45 bgfff row fs14">
            <div class="col col-33 center" style="border-right: solid 1px #f6f6f6">
                <p style="margin-top:-10px" class="colff66">客装产品 </p>
            </div>
            <div class="col col-33 center" style="border-right: solid 1px #f6f6f6">
                <p style="margin-top:-10px">院装产品</p>
            </div>
            <div class="col col-33 center">
                <p style="margin-top:-10px">易耗品</p>
            </div>
        </div>
    </ion-content>
</ion-view>
