<ion-view>
    <ion-content class="partialFiles">
        <div>
            <div class="bgfff" >
                <P class="h25  bbl">
                    <i style="width:3px;height:18px;display: inline-block;margin-top:4px;" class="bgff66 mr5 ml10"></i>
                    <a   style="display: inline-block;margin-top:-4px;">洁面乳</a>
                </P>
                <div class="bgfff">
                    <p class="col333 fs16 row">
                        <psan class="col col-25">库存数量</psan>
                        <psan class="col col-75">0</psan>
                    </p>
                    <p class="col333 fs16 row">
                        <psan class="col col-25">实际数量</psan>
                        <psan class="col col-75">0</psan>
                    </p>
                    <p class="col333 fs16 row">
                        <psan class="col col-25">差异数量 </psan>
                        <psan class="col col-75">0</psan>
                    </p>
                    <p class="col333 fs16 row">
                        <psan class="col col-25">库存状态 </psan>
                        <psan class="col col-75">盈盈</psan>
                    </p>
                </div>
            </div>
            <div class="mt10 bgfff" style="height:90px;display: flex">
                <label class="col999 fs16 mr10 ml10 mt5">备注</label>
                <textarea class="mt5" style="width:85%;"></textarea>
            </div>

        </div>
    </ion-content>
    <div class="45 tabs" style="width:100%;">
        <label class="fs16 col333 ml10 mr5" style="line-height:37px;">单据：</label>
        <input type="text" placeholder="此处编辑单…" class="fs16 col999" style="width:63%;">
        <a class="fs17 colfff center bgff66" style="width:80px">确定</a>
    </div>
</ion-view>