<ion-view>
    <ion-content class="partialFiles">
        <div>
            <ion-list>
                <ion-item style="height:90px;width:94%;background: url('images/productCardPic.png');background-size: 100% 100%;margin:10px auto;border-radius: 4px;" ng-repeat="item in [0,1,2,3,4,5]">
                    <div class="h30" style="margin-top:14px;">
                        <p  class="floatR mr10">
                            <span style="font-size: 13px;color: #999999;">剩余</span><span class="colff66" style="font-size: 22px;">￥300.00</span>
                        </p>
                    </div>

                    <div class="h30" style="margin-top:14px;">
                        <p class="fs12 floatR mr10" style="color: #AAAAAA;">2018.03.21-2020.03.21</p>
                    </div>

                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>