<ion-view>
    <ion-content class="partialFiles">
        <div>
            <ion-list>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">类型</p>
                    <p class="mr10 col888 fs15">
                        项目券
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">送券时间</p>
                    <p class="mr10 col888 fs15">
                        2018-01-26 12：32
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">前台</p>
                    <p class="mr10 col888 fs15">
                        张张
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">顾客</p>
                    <p class="mr10 col888 fs15">
                        安迪
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">总金额</p>
                    <p class="mr10 col888 fs15">
                        1800.00
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">剩余金额</p>
                    <p class="mr10 col888 fs15">
                        300.00
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">有效期至</p>
                    <p class="mr10 col888 fs15">
                        2018-10-24
                    </p>
                </ion-item>
            </ion-list>
            <div style="display: flex;padding:10px 0;background: #fff;">
                <label class="ml10">备注</label>
                <textarea style="width:85%;background: #f6f6f6;height:84px" class="ml10"></textarea>
            </div>
            <p class="h60 LH60 fs15 col666 ml10">使用记录</p>
            <ion-list >
                <ion-item  class="h50 bgfff" style="display: flex;" ng-repeat="item in [0,1,2,3]">
                    <div class="W33 ml20">
                        <p class="mt5 fs16 fs15 col666">2017-10-27 </p>
                    </div>
                    <p class="W33 ml20  fs15 col888">198.00</p>
                    <p class="W33 ml20 fs15 col888">
                        <span class="floatR mr10">霜</span>
                    </p>
                </ion-item>

            </ion-list>
        </div>
    </ion-content>
</ion-view>