<ion-view>
    <ion-content class="partialFiles bgfff">
        <div style="height:40px;border-bottom: solid 1px gainsboro; "class="bgfff">
            <div style="float: left">
                <span style="padding:0px 7px;display: inline-block;border-radius: 4px;" class="mt5 mr10 ml10 activeCharacter fs14">性格较好</span>
            </div>
            <input type="text" placeholder="输入标签" style="padding-left:10px;">
        </div>
        <div style="padding-left:10px;" class="bgfff">
            <p style="padding-top:5px;">
                所有标签
            </p>
            <div class="fs14">
                <span style="padding:0px 7px;display: inline-block;border-radius: 4px;" class="mt5 mr10 Character activeCharacter" >性格较好</span>
                <span style="padding:0px 7px;display: inline-block;border-radius: 4px;" class="mt5 mr10 Character" ng-repeat="item in [0,1,2,3,4,5,6,7]">开朗</span>
            </div>
            <p style="width:165px;height:44px;margin:auto;background: #FF6666;box-shadow: 0 4px 4px 0 rgba(255,102,102,0.24);border-radius: 100px;line-height: 44px;margin-top:40px;" class="center colfff ">保存</p>
        </div>
    </ion-content>
</ion-view>