<ion-view>
    <ion-content class="partialFiles">
        <ion-list >
            <ion-item  class="h50 bgfff row sb" >
                <p class="ml10">
                    会员编号
                </p>
                <p class="mr10"></p>
            </ion-item>
            <ion-item  class="h50 bgfff row sb" >
                <p class="ml10">
                    介绍人
                </p>
                <p class="mr10"></p>
            </ion-item>
            <ion-item  class="h50 bgfff row sb" >
                <p class="ml10">
                    负责美容师
                </p>
                <p class="mr10"></p>
            </ion-item>
            <ion-item  class="h50 bgfff row sb" >
                <p class="ml10">
                    档案来源
                </p>
                <p class="mr10">唯美度</p>
            </ion-item>
            <ion-item  class="h50 bgfff row sb" >
                <p class="ml10">
                    入店时间
                </p>
                <p class="mr10">
                    <img src="images/more.png" class="more ">
                </p>
            </ion-item>
            <ion-item  class="h50 bgfff row sb" >
                <p class="ml10">
                    来源渠道
                </p>
                <p class="mr10">
                    <img src="images/more.png" class="more ">
                </p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>