<ion-view>
    <ion-content class="partialFiles">
        <div >
            <ion-list>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">上次月经时间</p>
                    <p class="mr10">
                        <img src="images/more.png" style="width:8px;height:14.1px;">
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10" style="color: #888888;">周期</p>
                    <p class="mr10">
                        <img src="images/more.png" style="width:8px;height:14.1px;">
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10" style="color: #888888;">经期长度</p>
                    <p class="mr10">
                        <img src="images/more.png" style="width:8px;height:14.1px;">
                    </p>
                </ion-item>
            </ion-list>
        </div>
        <div>
            <p class="h40 bge6 col888">
                <label class="ml10 fs15">备注</label>
            </p>
            <textarea  style="height:90px;width:100%;">
            </textarea>
        </div>
    </ion-content>
</ion-view>