<ion-view>
    <ion-content class="partialFiles" >
        <div>
            <ion-list class="fs15">
                <ion-item  class=" h30 bge6">
                    <span class="ml10">个人信息</span>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">头像</p>
                    <p class="mr10">
                        <span style="width:42px;height:42px;background: #e5e5e5;border-radius: 50%;display: inline-block;margin-top:5px;"></span>
                        <img src="images/more.png" style="width:8px;height:14.1px;margin-top:-30px;">
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">姓名<span class="colff66 fs15">*</span></p>
                    <p class="mr10">
                        安妮
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">手机<span class="colff66 fs15">*</span></p>
                    <p class="mr10">
                        123458
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">性别</p>
                    <div class="mr10" style="display: flex;justify-content: space-between">
                        <label class="item item-radio" style="border:none;padding:0;">
                            <input type="radio" name="group" value="go" checked="checked">
                            <div class="radio-content">
                                <div class="item-content "  style="padding:0;line-height: 54px;background: none;padding-right:40px;">
                                    女
                                </div>
                                <i class="radio-icon ion-checkmark " ></i>

                            </div>
                        </label>

                        <label class="item item-radio" style="border:none;">
                            <input type="radio" name="group" value="python">
                            <div class="radio-content">
                                <div class="item-content "  style="padding:0;line-height: 54px;background: none;padding-right:40px;">
                                    男
                                </div>
                                <i class="radio-icon ion-checkmark" style="margin-top:-5px;"></i>

                            </div>
                        </label>

                    </div>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">微信</p>
                    <p class="mr10">
                        <input type="text" placeholder="请输入微信号" style="text-align: right">
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">生日</p>
                    <p class="mr10">
                        <img src="images/more.png" style="width:8px;height:14.1px;">
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">星座</p>
                    <p class="mr10">
                        <img src="images/more.png" style="width:8px;height:14.1px;">
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">类型</p>
                    <p class="mr10">
                        <img src="images/more.png" style="width:8px;height:14.1px;">
                    </p>
                </ion-item>
                <ion-item  class=" bgfff" style="display: flex;justify-content: space-between">
                    <div class="ml10">
                        <p style="margin-bottom: 5px;margin-top: 5px;">标签</p>
                        <p style="margin-bottom: 10px;">
                            <span style="display: inline-block;padding:1px 7px;border: 1px solid #FF6666;border-radius: 4px;font-size: 14px;" class="colff66">性格较好</span>
                            <span style="display: inline-block;padding:1px 7px;border: 1px solid #FF6666;border-radius: 4px;font-size: 14px;" class="colff66">爱美</span>
                        </p>

                    </div>
                    <p class="mr10 " style="margin-top:25px;">
                        <img src="images/more.png" style="width:8px;height:14.1px;">
                    </p>
                </ion-item>
            </ion-list>
            <div style="margin-top:10px;">
                <ion-list>
                    <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                        <p class="ml10">基本信息</p>
                        <p class="mr10">
                            详情
                            <img src="images/more.png" style="width:8px;height:14.1px;">
                        </p>
                    </ion-item>
                    <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                        <p class="ml10" style="color: #888888;">血型：B型</p>
                        <p class="mr10">

                        </p>
                    </ion-item>
                </ion-list>
            </div>
            <div style="margin-top:10px;">
                <ion-list>
                    <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                        <p class="ml10">会员信息</p>
                        <p class="mr10">
                            详情
                            <img src="images/more.png" style="width:8px;height:14.1px;">
                        </p>
                    </ion-item>
                    <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                        <p class="ml10" style="color: #888888;">来源渠道：未知</p>
                        <p class="mr10">

                        </p>
                    </ion-item>
                </ion-list>
            </div>
            <div style="margin-top:10px;">
                <ion-list>
                    <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                        <p class="ml10">体质</p>
                        <p class="mr10">
                            详情
                            <img src="images/more.png" style="width:8px;height:14.1px;">
                        </p>
                    </ion-item>
                    <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                        <p class="ml10" style="color: #888888;">酸性：良好</p>
                        <p class="mr10">

                        </p>
                    </ion-item>
                </ion-list>
            </div>
            <div style="margin-top:10px;height:50px;line-height: 50px;font-size: 16px;color: #59D84C;text-align: center" class="bgfff ">
                <img src="images/greenJia.png" style="width:16px;height:16px;">
                <span ng-click="addMessage()">添加更多信息</span>
            </div>
            <div style="margin-top:10px;display: flex;justify-content: space-between" class="bgfff">
                <label class="ml10">备注：</label>
                <textarea style="width:85%;height:100px">

            </textarea>
            </div>
            <div style="height:100px;display: flex;justify-content: space-around;padding-top:30px;">
                <p style="border: 1px solid #FF6666;border-radius: 46px;width:150px;height:40px;line-height: 40px" class="center colff66 bgfff">
                    删除
                </p>
                <p style="border: 1px solid #FF6666;border-radius: 46px;width:150px;height:40px;line-height: 40px" class="center colff66 bgfff activeBtn">
                    保存
                </p>
            </div>

            <div style="position: absolute;height:173%;background: #000;opacity: 0.2;top:0;width:100%;z-index: 100"></div>
            <div style="position: absolute;top:40px;left:50%;margin-left:-40%;background: #FFFFFF;border-radius: 8px;width:80%;z-index: 101">
                <div style="height:40px;line-height: 40px;border-top-left-radius: 8px;border-top-right-radius: 8px;" class="sb bgfff">
                    <p style="width:20%;"></p>
                    <p style="width:60%;" class="center fs17 b">添加更多信息</p>
                    <p style="width:20%;text-align: right;" class="mr10 colff66 b fs17" ng-click="close">确定</p>
                </div>
                <div style="height:480px;overflow: scroll;border-bottom-left-radius: 8px;border-bottom-right-radius: 8px;" scroll="true"style="">
                    <div>
                        <ion-list>
                            <ion-item  class="h45 bge6">
                                <i class="ml10">已添加信息（新建/编辑档案中显示）</i>
                            </ion-item>
                            <ion-item  class="h45 bgfff">
                                <img src="images/del.png" class="delPic ml10 mr10"> 四肢
                            </ion-item>
                            <ion-item  class="h45 bgfff" >
                                <img src="images/del.png" class="delPic ml10 mr10"> 头部
                            </ion-item>
                        </ion-list>
                    </div>
                    <div>
                        <ion-list >
                            <ion-item  class="h45 bge6">
                                <i class="ml10">未添加信息</i>
                            </ion-item>
                            <ion-item  class="h45 bgfff" ng-repeat="item in [0,1,2,3,4,5,6,7,8,9]">
                                <img src="images/greenJia.png" class="delPic ml10 mr10"> 痘痘肌
                            </ion-item>

                        </ion-list>
                    </div>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
