<ion-view>
    <ion-content class="partialFiles">
        <div>
            <p class="h30 ml10">
                基础信息
            </p>
            <ion-list>
                <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">时间</p>
                    <p class="mr10 col888">
                        2018-01-26 16：32：28
                    </p>
                </ion-item>
                <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">顾客</p>
                    <p class="mr10 col888">
                        阿敏
                    </p>
                </ion-item>

                <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">操作门店</p>
                    <p class="mr10 col888">
                        美容院分店
                    </p>
                </ion-item>
                <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">前台</p>
                    <p class="mr10 col888">
                        王萱萱
                    </p>
                </ion-item>
                <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">类型</p>
                    <p class="mr10 col888">
                        店内消费
                    </p>
                </ion-item>
            </ion-list>
            <p class="h50 ml10 fs15">还款信息</p>
            <ion-list>
                <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10 fs16 col333">还款金额</p>
                    <p class="mr10 fs15 col888">
                        ¥200.00
                    </p>
                </ion-item>
                <ion-item  class=" bgfff" >
                    <div style="display: flex;justify-content: space-between">
                        <p class="ml20 fs16 col333 mt5">员工业绩</p>
                        <p class="mr10 col888"> </p>
                    </div>
                   <div style="display: flex;justify-content: space-between" class="mt10 mb10">
                       <p class="ml50 " >张张</p>
                       <div class="mr10 col888">
                           <p class="fs15 col888">分业绩（100%）  200.00</p>
                           <p class="fs15 col888">分卡耗（0%）  0.00</p>
                       </div>
                   </div>


                </ion-item>


            </ion-list>
            <p class="h50 ml10">支付明细</p>
            <div>
                <opn-list >
                    <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                        <p class="ml10"> 余额</p>
                        <p class="mr10 col888">
                            ￥4888.00
                        </p>
                    </ion-item>
                </opn-list>
            </div>
            <p class="h50 ml10">顾客签字</p>
            <div style="height:156px;" class="bgfff">

            </div>
            <p class="h50 ml10 fs14">备注</p>
            <textarea style="height:80px;width:100%;margin-bottom: 50px;" class="bgfff">

            </textarea>


        </div>
    </ion-content>
</ion-view>