<ion-view>
    <ion-content class="partialFiles bgf6">
        <div class="tabs-striped tabs-top tabs-background-light tabs-color-assertive">
            <div style="height:48px;">
                <div class="tabs" style="top:0;"  >
                    <a ng-class="{true: 'tab-item active', false: 'tab-item'}[param.orderType=='all']"
                       ng-click="chooseTab('0')">
                        <span class="fs15 col333" ng-class="{'colff66':param.flag==true}"> 划卡记录</span>
                    </a>
                    <a ng-class="{true: 'tab-item active', false: 'tab-item'}[param.orderType=='0']"
                       ng-click="chooseTab('1')">
                        <span class="fs15 col333" ng-class="{'colff66':param.flag!=true}">消费详情</span>
                    </a>
                </div>
            </div>
            <div ng-show="param.flag">
                <ion-list>
                    <ion-item style="height:70px;" class="" ng-repeat="item in treatmentCardDtails" ng-click="drawCardRecordsDetailGO(item.flowNo)">
                        <div class="">
                            <p class="fs15 col666 ml10 mt5">{{item.createDate|date:'yyyy-MM-dd'}}</p>
                            <div class="fs15 col333 ml10 row" style="margin:0;padding-top:0">
                                <p style="display: inline-block" class="col col-25">{{item.flowName}}  </p>
                                <p style="display: inline-block;width:40px;line-height: 33px;" class="">{{item.consumeNumber}}次 </p>
                                <p style="display: inline-block" class="col col-65">
                                    <span ng-repeat="items in item.sysClerkNameList track by $index">{{items}}</span>({{item.sysShopName}})
                                </p>
                            </div>
                        </div>
                       <!-- <p class="mr10 fs16 col333 col col-20" style="line-height: 70px">
                            <img ng-src="{{item.signUrl}}" style="width:30px;height:30px;float: right;margin-top:11px;" ng-if="item.signUrl!=null&&item.signUrl!=''">
                        </p>-->

                    </ion-item>
                </ion-list>
            </div>
            <div ng-show="!param.flag">
                <p class="h30 ml10">
                    基础信息
                </p>
                <ion-list>
                    <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                        <p class="ml10">时间</p>
                        <p class="mr10 col888">
                            {{details.createDate|date : 'yyyy-MM-dd hh:mm:ss'}}
                        </p>
                    </ion-item>
                    <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                        <p class="ml10">顾客</p>
                        <p class="mr10 col888">
                           {{details.sysUserName}}
                        </p>
                    </ion-item>

                    <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                        <p class="ml10">操作门店</p>
                        <p class="mr10 col888">
                            {{details.sysShopName}}
                        </p>
                    </ion-item>
                    <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                        <p class="ml10">前台</p>
                        <p class="mr10 col888">
                            {{details.createBy}}
                        </p>
                    </ion-item>
                    <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                        <p class="ml10">类型</p>
                        <p class="mr10 col888" ng-if="details.type =='0'">
                            店内充值
                        </p>
                        <p class="mr10 col888" ng-if="details.type =='1'">
                            店内消费
                        </p>
                        <p class="mr10 col888" ng-if="details.type ==''">
                            划卡
                        </p>
                        <p class="mr10 col888" ng-if="details.type =='4'">
                            产品领取
                        </p>
                    </ion-item>
                </ion-list>
                <div  ng-if="param.type=='1'">
                    <p class="h50 ml10">疗程卡</p>
                    <ion-list ng-repeat="item in details.userConsumeRecordResponseList">
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10">{{item.flowName}}</p>
                            <p class="mr10">
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml20">包含次数</p>
                            <p class="mr10 col888">
                                {{item.includeTimes}}次
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml20">价格</p>
                            <p class="mr10 col888">
                                ¥{{item.price}}
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml20">折扣</p>
                            <p class="mr10 ">
                                {{(item.periodDiscount==null)||(item.periodDiscount==1)?'无折':item.periodDiscount*10+'折'}}
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml20">数量</p>
                            <p class="mr10 col888">
                                {{item.consumeNumber}}
                            </p>
                        </ion-item>

                    </ion-list>
                </div>
                <div ng-if="param.type=='3'">
                    <p class="h50 ml10">套卡</p>
                    <div class="list" ng-repeat="item in details.userConsumeRecordResponseList">
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10 fs16 col333">{{item.flowName}}</p>
                        </ion-item>
                        <ion-item  class=" bgfff h50" >
                            <p class="sb">
                                <span class="ml20 fs15 col666">包含次数</span>
                                <span class="mr10">{{item.includeTimes}}次</span>
                            </p>
                        </ion-item>
                        <ion-item  class=" bgfff h50" >
                            <p class="sb">
                                <span class="ml20 fs15 col666">价格</span>
                                <span class="mr10">￥{{item.price}}</span>
                            </p>
                        </ion-item>
                        <ion-item  class=" bgfff h50" >
                            <p class="sb">
                                <span class="ml20 fs15 col666">折扣</span>
                                <span class="mr10">{{(item.discount==null)||(item.discount==1)?'无折':item.discount*10+'折'}}</span>
                            </p>
                        </ion-item>
                        <ion-item  class=" bgfff h50" >
                            <p class="sb">
                                <span class="ml20 fs15 col666">数量</span>
                                <span class="mr10">{{item.consumeNumber}}</span>
                            </p>
                        </ion-item>

                        <ion-item  class=" bgfff h50" >
                            <p class="sb">
                                <span class="ml20 fs15 col666">金额</span>
                                <span class="mr10">￥{{item.price*item.consumeNumber}}</span>
                            </p>
                        </ion-item>
                        <ion-item  class=" bgfff" >
                            <div >
                                <p class="h40 ml20 bbl">包含项目</p>
                                <div class="sb ml10 " ng-repeat="items in item.shopProjectInfoDTOList">
                                    <p class="W33 ml20 fs13 col88">{{items.projectName}}</p>
                                    <p class="W33 ml20 center fs13 col88">X{{items.serviceTimes}}</p>
                                    <p class="W33 ml20 mr10 fs13 col88" style="text-align: right">￥{{items.marketPrice}}</p>
                                </div>
                            </div>
                        </ion-item>

                    </div>
                </div>

                <div class="mt20">
                    <opn-list >
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between">
                            <p class="ml10"> 总金额</p>
                            <p class="mr10 col888">
                                ￥{{details.sumAmount}}
                            </p>
                        </ion-item>
                    </opn-list>
                </div>
                <p class="h50 ml10">支付明细</p>
                <div>
                    <opn-list >
                        <ion-item  class="h50 bgfff" ng-if="details.payMap.payType!=''&&details.payMap.payType!=null">
                            <p class="ml10"  ng-if="details.payMap.payType=='0'" style="display: flex;justify-content: space-between">
                                <span>微信</span>
                                <span class="mr10"> ￥{{details.payMap.payTypeAmount}}</span>
                            </p>
                            <p class="ml10"  ng-if="details.payMap.payType=='1'" style="display: flex;justify-content: space-between">
                                <span>支付宝</span>
                                <span class="mr10"> ￥{{details.payMap.payTypeAmount}}</span>
                            </p>
                            <p class="ml10"  ng-if="details.payMap.payType=='2'" style="display: flex;justify-content: space-between">
                                <span>银行卡</span>
                                <span class="mr10"> ￥{{details.payMap.payTypeAmount}}</span>
                            </p>

                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between" ng-if="details.payMap.balanceAmount != null&&details.payMap.balanceAmount !=0">
                            <p class="ml10"> 余额</p>
                            <p class="mr10 col888">
                                ￥{{details.payMap.balanceAmount}}
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between" ng-if="details.payMap.cashAmount != null&&details.payMap.cashAmount!=0">
                            <p class="ml10"> 现金支付</p>
                            <p class="mr10 col888">
                                ￥{{details.payMap.cashAmount}}
                            </p>
                        </ion-item>
                        <ion-item  class="h50 bgfff" style="display: flex;justify-content: space-between" ng-if="details.payMap.rechargeCardAmount != null&&details.payMap.rechargeCardAmount !=0">
                            <p class="ml10"> 充值卡支付</p>
                            <p class="mr10 col888">
                                ￥{{details.payMap.rechargeCardAmount}}
                            </p>
                        </ion-item>
                    </opn-list>
                </div>
                <p class="h50 ml10">顾客签字</p>
                <div style="height:156px;" class="bgfff">
                    <div style="height:156px;background: url('{{details.signUrl}}');background-size: contain;background-repeat: no-repeat;background-position: center center" class="bgfff" >

                    </div>
                </div>

                <p class="h50 ml10 fs14">备注</p>
                <textarea style="height:80px;width:100%;margin-bottom: 50px;" class="bgfff">
                   {{details.detail}}
            </textarea>


            </div>
        </div>
    </ion-content>
</ion-view>