<ion-view>
    <ion-content>
        <div >
            <ion-list>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">血型</p>
                    <p class="mr10">
                        未知
                        <img src="images/more.png" style="width:8px;height:14.1px;">
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">身高</p>
                    <p class="mr10">
                        0厘米
                        <img src="images/more.png" style="width:8px;height:14.1px;">
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">体重</p>
                    <p class="mr10">
                        0kg
                        <img src="images/more.png" style="width:8px;height:14.1px;">
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">经期状况</p>
                    <p class="mr10">
                        已设置
                        <img src="images/more.png" style="width:8px;height:14.1px;">
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">职业</p>
                    <p class="mr10">
                        <input type="text" placeholder="请输入职" style="text-align: right" class="mt5">
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">地址</p>
                    <p class="mr10">
                        <img src="images/more.png" style="width:8px;height:14.1px;">
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10"></p>
                    <p class="mr10">
                        请输入门店地址
                    </p>
                </ion-item>
                <ion-item  class="h54 bgfff" style="display: flex;justify-content: space-between">
                    <p class="ml10">邮箱</p>
                    <p class="mr10">
                        <input type="text" placeholder="请输入邮箱" style="text-align: right" class="mt5">
                    </p>
                </ion-item>

            </ion-list>
        </div>
    </ion-content>
</ion-view>