<ion-view class="bg">
    <ion-content class="mb45" ng-click="none()">
        <!--日期部分-->
        <div class="bgRgb">
            <ionic-datepicker input-obj="datepickerObjectEnd">
                <img src="images/work/date.png" class="dateImg" >
                <span class="date">{{param.date}}</span>
                <img src="images/work/drop-down.png" class="dropImg">
            </ionic-datepicker>
        </div>
        <div ng-show="!param.picFlag">
            <ion-item  class="bgfff row mb10" ng-repeat="item in canceled"  ng-click="confirmedGo(item.appointmentInfo.id)" ng-if="item.appointmentInfo.status != 4" >
                <div class="col col-20" style="line-height: 49px;">
                    <p style="height:42px;width:42px;border-radius: 50%;">
                        <img ng-src="{{item.sysClerkInfo.photo}}" style="height:42px;width:42px;">
                    </p >
                </div>
                <div class="col col-80 ml-20" >
                    <p class="fs15"><span>{{item.appointmentInfo.sysUserName}}</span><span style="width: 40px;height: 20px;display: inline-block;background: #ff6666;color: #ffffff;line-height: 20px;margin-left: 10px;text-align: center;border-radius: 5px;" ng-show="false">A类</span></p >
                    <p class="fs12 col88">
                        <img src="images/work/minute.png" style="display: inline-block;width: 15px;height: 15px;margin-left: 5px"><span style="margin-left: 17px">{{item.appointmentInfo.appointStartTime|date:'HH:mm'}}~{{item.appointmentInfo.appointEndTime|date:'HH:mm'}}</span><span class="ml10">{{item.appointmentInfo.appointPeriod == null?0:item.appointmentInfo.appointPeriod}}分钟</span>
                    <p>{{item.projectNumber}}个项目</p>
                    <p>状态：
                        <span ng-if="item.appointmentInfo.status == 0">未开始</span>
                        <span ng-if="item.appointmentInfo.status == 1">已确认</span>
                        <span ng-if="item.appointmentInfo.status == 2">服务中</span>
                        <span ng-if="item.appointmentInfo.status == 3">已完成</span>
                        <span ng-if="item.appointmentInfo.status == 4">取消预约</span>
                        <span ng-if="item.appointmentInfo.status == 5">进行中</span>
                        <span ng-if="item.appointmentInfo.status == 6">已结束</span>
                    </p>
                    </p >
                </div>
            </ion-item>
        </div>
        <void-pic></void-pic>
    </ion-content>
    <div class="tabs " style="padding-top: 0px;background: #eeeeee" ng-click="cancelReservationGo()">
        <a class="tab-item colff66 fs16">
            已取消的预约
        </a>
    </div>
</ion-view>