<ion-view class="bg">
    <ion-content>
        <div class="list">
            <p class="item"style="padding: 8px;font-size: 15px"><span class="fl">划卡</span><span class="colff66 fr">+500</span><br><span class="col99">2018-5-02:18:27</span>
            </p>
            <p class="item"style="padding: 8px;font-size: 15px"><span class="fl">划卡作废</span><span class="colff66 fr">+500</span><br><span class="col99" >2018-5-02:18:27</span>
            </p>
            <p class="item"style="padding: 8px;font-size: 15px"><span class="fl">单次消费划卡</span><span class="colff66 fr">+500</span><br><span class="col99">2018-5-02:18:27</span>
            </p>
            <p class="item"style="padding: 8px;font-size: 15px"><span class="fl">退单次消费划卡</span><span  class="colff66 fr">+500</span><br><span  class="col99" >2018-5-02:18:27</span>
            </p>
        </div>
        <!--筛选按钮-->
        <div class="tc">
            <button class="button " style="width: 3.16rem;height: 0.78rem;background: rgb(255,102,102);color: white;font-size: 20px;border-radius: 13px">筛选</button>
        </div>
    </ion-content>
</ion-view>