<ion-view class="bg">
    <ion-content>
        <p style="width: 100%;height: 35px" class="col33 fs15 p5">基本信息</p>
        <div class="list">
            <p class="item p10"><span class="col33 fs16">时间</span><span style="float: right" class="fs14 col66">2018-0504<span class="ml10 fs14 col66"></span>16:45:39</span></p>
            <p class="item p10"><span class="col33 fs16">顾客</span><span style="float: right" class="fs14 col66"><span class="ml10 fs14 col66">薇薇安</span></span></p>
            <p class="item p10"><span class="col33 fs16">操作门店</span><span style="float: right"class="fs14 col66">韩方美容养生会所</span></p>
            <p class="item p10"><span class="col33 fs16">前台</span><span style="float: right"class="fs14 col66">小丸子</span></p>
            <p class="item p10"><span class="col33 fs16">类型</span><span style="float: right"class="fs14 col66">消费</span></p>
        </div>
        <p style="width: 100%;height: 35px;margin-top: -16px" class="col33 fs15 p5">商品信息</p>
        <div class="list">
            <p class="item p10"><span class="col33 fs16">卡名称</span><span style="float: right"class="fs14 col66">白金卡</span></p>
            <p class="item p10"><span class="col33 fs16">充值金额</span><span style="float: right"class="fs14 col66">￥198.00</span></p>
        </div>
        <p style="width: 100%;height: 35px;margin-top: -16px" class="col33 fs15 p5">退款信息</p>
        <div class="list">
            <p class="item p10"><span class="col33 fs16">退还方式</span><span style="float: right"class="fs14 col66">现金</span></p>
            <p class="item p10"><span class="col33 fs16">退还金额</span><span style="float: right"class="fs14 col66">￥900.00</span></p>
            <p class="item p10"><span class="col33 fs16">退还渠道</span><span style="float: right"class="fs14 col66">分批次退完</span></p>
        </div>
        <p style="width: 100%;height: 35px;margin-top: -16px" class="col33 fs15 p5">顾客签字</p>
        <div class="list bgfff" style="width: 100%;height: 130px"></div>
        <p style="width: 100%;height: 35px;margin-top: -16px" class="col33 fs15 p5">备注</p>
        <textarea style="height: 82px;width:100%;font-size: 0.3rem;color: #333333;padding: 20px;"></textarea>
    </ion-content>
</ion-view>