<ion-view class="bg">
    <ion-content>
        <!--日期部分-->
        <div class="bgRgb">
            <img src="images/work/date.png" class="dateImg" ><span class="date">2016-03-01</span><img src="images/work/drop-down.png" class="dropImg">
        </div>
        <!--已出勤 异常出勤-->
         <div class="row fs16 col33 bgfff">
             <div class="col col-50 tc">
                 已出勤
                 <p  class="col88 fs14">84天</p>
             </div>
             <div class="col col-50 tc">
                 异常出勤
                 <p  class="col88 fs14">3天</p>
             </div>
         </div>
         <div class="list mt20">
             <p class="item p5 fs15 colff66"><img src="images/work/Late.png" style="width: 10px;height: 10px;display: inline-block;margin-right: 10px">迟到一次</p>
             <p class="item p5 fs15 colff66"><img src="images/work/hitCard.png" style="width: 10px;height: 10px;;display: inline-block;margin-right: 10px">未打卡2次</p>
             <p class="item p5  fs15 col66"><span>2018-05-03</span><span class="ml10">未打卡</span><i class="ion ion-ios-arrow-right"  class="fr"></i></p>
             <p class="item p5 fs15 col66"><span>2018-05-03</span><span class="ml10">未打卡 <i class="ion ion-ios-arrow-right" class="fr"></i></span></p>
         </div>
    </ion-content>
</ion-view>