<ion-view class="bg">
    <ion-content>
        <!--日期部分-->
        <div class="bgRgb">
            <img src="images/work/date.png" class="dateImg" ><span class="date">2016-03-01</span><img src="images/work/drop-down.png" class="dropImg"><span  ng-click="tabShop()" class="fs15 fr mr10">切换店铺</span>
        </div>
        <ion-item  class="h60 bgfff row" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]">
            <div class="col col-20" style="line-height: 49px;">
                <p style="height:42px;width:42px;background: gainsboro;border-radius: 50%;"></p >
            </div>

            <div class="col col-80" style="margin-left: -20px">
                <p  class="fs15"><span>王慧</span><span style="margin-left: 20px;width:80px;height: 20px;display: inline-block;border: 1px solid rgb(255,102,102);border-radius: 8px;text-align: center;line-height: 20px;color:#ff6666;font-size: 12px">美容师&nbsp;前台</span></p >
                <p  class="fs12 col88">
                    <span>已出勤37</span><span style="margin-left: 17px">异常3</span>
                </p >
            </div>
        </ion-item>
        <!--点击切换店铺出现的内容-->
        <div  class="redPacket_box" ng-if="param.redPackerFlag" ng-click="closeFlag()">
            <div class="list redPacket tc">
                <p class="item">本院</p>
                <p class="item">韩方美容养生会所</p>
                <p class="item">韩方美容养生会所</p>
            </div>
        </div>
    </ion-content>
</ion-view>