<ion-view class="bg">
    <ion-content>
            <div class="h45 bgfff row fs14 col33">
                <div class="col col-33 tc" style="border-right: solid 1px #f6f6f6">
                    <p style="margin-top:-10px" class="colff66">客装产品 <img src="images/Stock/hitCard.png" class="trianglePic ml20"></p>
                </div>
                <div class="col col-33 tc" style="border-right: solid 1px #f6f6f6">
                    <p style="margin-top:-10px">院装产品<img src="images/Stock/Below.png" class="trianglePic ml20"></p>
                </div>
                <div class="col col-33 tc">
                    <p style="margin-top:-10px">易耗品<img src="images/Stock/Below.png" class="trianglePic ml20"></p>
                </div>
            </div>
        <ion-item  class=" bgfff row"style="width: 96%;margin: 20px auto 0;border-radius: 6px;" >
            <div class="col col-20">
                <p style="height:70px;width:75px;background: gainsboro;margin-top: 5px"></p >
            </div>

            <div class="col col-70 ml10" >
                <p style="font-size: 15px"><span>雪痕</span></p >
                <p class="fs12 col88">编号：</p >
                <p class="fs12 col88"><span>单位：件</span><span class="ml5">规格：1000g</span></p>
            </div>
            <div class="col col-10">
                <img src="images/Stock/edit.png" style="float: right;width: 20px;height: 20px;margin-top:20px">
            </div>
        </ion-item>
    </ion-content>
</ion-view>