<ion-view class="bg">
    <ion-list >
        <ion-item class="item-input" style="background: #ff9999;height: 50px; " >
                <span class="item-input-wrapper" style="margin-right:12px;height:30px;background: #fff" >
                        <i class="icon ion-ios-search placeholder-icon" ></i>
                        <input id="search" type="search" placeholder="请输入产品名称"  ng-model="param.filterStr">
                        <i class="icon ion-close-circled placeholder-icon" style="vertical-align: middle;"
                           ng-click="getInfo()"></i>
                 </span>
            <i  class="changeArchivesBtn fs15 colfff mr10" ng-click="tabSwitching()">搜索</i>
        </ion-item>
    </ion-list>
    <div class="h45 bgfff row fs14 bbl">
        <div class="col col-33 center" style="border-right: solid 1px #f6f6f6">
            <p style="margin-top:-10px" ng-class="{'colff66':param.productType == '0'}" ng-click="selNext('0');$event.stopPropagation()">
                <span >客装产品</span>
                <img src="{{param.productType=='0'?'images/inventory/triangleRed.png':'images/inventory/triangleGray.png'}}" class="trianglePic ml20" ></p>
        </div>
        <div class="col col-33 center" style="border-right: solid 1px #f6f6f6">
            <p style="margin-top:-10px" ng-class="{'colff66':param.productType == '1'}" ng-click="selNext('1');$event.stopPropagation()">
                <span >院装产品</span>
                <img src="{{param.productType=='1'?'images/inventory/triangleRed.png':'images/inventory/triangleGray.png'}}" class="trianglePic ml20" ></p>
        </div>
        <div class="col col-33 center">
            <p style="margin-top:-10px"  ng-class="{'colff66':param.productType == '2'}" ng-click="selNext('2');$event.stopPropagation()">
                <span  >易耗品</span>
                <img src="{{param.productType=='2'?'images/inventory/triangleRed.png':'images/inventory/triangleGray.png'}}" class="trianglePic ml20" ></p>
        </div>
    </div>
    <ion-content ng-click="all()" style="margin-top:95px;" delegate-handle="dashboard">
        <div style="height:50px;"  ng-if="projectList.length>0"></div>
        <div style="position: relative;height:100%;padding-top:10px;" ng-class="{'hidden':param.flag==true}" ng-if="warehouseProducts.detailProductList.length>=1">
          <!-- <p  ng-if="param.levelTwoName!=''" class="mt10 ml10">
               {{param.levelOneName}}  .  {{param.levelTwoName}}
           </p>-->
            <ion-item  class=" bgfff row"style="width: 96%;margin: 0px auto 10px;border-radius: 6px;" ng-click="modifyProductGo(item.id)" ng-repeat="item in detailProductList">
                <div class="col col-30" >
                        <div style="background: url('{{item.productUrl}}');background-position: center center;background-size: contain;background-repeat: no-repeat;height:60px;" class="mt10" >

                        </div>
                </div>

                <div class="col col-60 ml10" >
                    <p style="font-size: 15px"><span>{{item.productName}}</span></p >
                    <p class="fs12 col88">编号：{{item.productCode}}</p >
                    <p class="fs12 col88"><span>单位：{{item.productUnit}}</span><span class="ml20">规格：{{item.productSpec}}</span></p>
                </div>
                <div class="col col-10">
                    <img src="images/Stock/edit.png" style="float: right;width: 20px;height: 20px;margin-top:20px">
                </div>
            </ion-item>
            <div style="position: absolute;height:100%;background: #000;opacity: 0.2;top:0;width:100%;z-index: 100"  ng-show="param.flag"></div>
            <div style="position: absolute;top:0;width:100%;z-index: 1000;padding:0;height:50%"  class="row bgf6" ng-show="param.flag&&warehouseProducts.oneLevelList.length>0">
                <ul class="col col-33 col333  fs14 bgfff" style="padding-right:0;height: 100%;overflow-y: scroll">
                    <li class="  col333 center bbl " ng-repeat="item in warehouseProducts.oneLevelList" ng-click="selTwo(item.productTypeOneId,item.productTypeOneName);$event.stopPropagation()" style="min-height: 40px;padding: 5px 0" ng-class="{'bge6':param.levelOneId == item.productTypeOneId}">
                        <div class="ml10 mr10">{{item.productTypeOneName}}</div>
                    </li>
                </ul>
                <ul style="width:77%;background: #F6F6F6;" class="fs14 col333" style="padding-right:0;height: 100%;overflow-y: scroll">
                    <li class="ml10 h40 sb" style="border-bottom: 1px solid #FFFFFF;" ng-click="checkThree(item.productTypeTwoId,item.productTypeTwoName);$event.stopPropagation()" ng-repeat="item in param.twoLevelList" ng-class="{'bge6':param.levelTwoId == item.productTypeTwoId}">
                        <div>{{item.productTypeTwoName}}</div>

                    </li>

                </ul>
            </div>
        </div>
        <div style="width:100%;height:100%;" ng-if="detailProductList.length<=0">
            <void-picother></void-picother>
        </div>

    </ion-content>
</ion-view>