<ion-view class="bg">
    <ion-content>
        <div style="width: 93.9%;margin: auto;color: #999999;font-size: 12px;padding: 10px">
          <p>默认该类目下的所有系列均可用此折扣，您可将不适用的系列去掉勾选按钮后保存、(如您还未添加系列的，请到设置中先进行添加后再来进行设置)</p>
        </div>
        <div class="list">
            <p class="item">面部</p>
            <p class="item"><img src="images/mine/Unselected.png" style="width: 14px;height: 14px;display: inline-block;margin-right: 6px">美白</p>
            <p class="item" ng-repeat="item in [1,2,3,4,5,6,7]"><img src="images/mine/selected.png" style="width: 14px;height: 14px;display: inline-block;margin-right: 6px">保湿</p>
        </div>
    </ion-content>
</ion-view>