<ion-view class="bg">
    <ion-list >
        <ion-item class="item-input" style="background: #ff9999;height: 50px; " >
                <span class="item-input-wrapper" style="margin-right:12px;height:30px;background: #fff" >
                        <i class="icon ion-ios-search placeholder-icon" ></i>
                        <input id="search" type="search" placeholder="请输入套卡名称" ng-model="param.filterStr" >
                        <i class="icon ion-close-circled placeholder-icon" style="vertical-align: middle;"
                           ng-click="clearSearch()" ng-if="param.filterStr!=''"></i>
                 </span>
            <i  class="changeArchivesBtn fs15 colfff mr10" ng-click="getListInfo()">搜索</i>
        </ion-item>
    </ion-list>
    <ion-content>
        <div style="height:50px;"  ng-if="cardList.length>0"></div>
        <div class="list" ng-repeat="item in cardList" ui-sref="editorCard({id:item.id})" ng-if="cardList.length>=1">
            <ion-item  class="row" >
                <div class="" style="line-height: 49px;width:82px;margin-right:5px;">
                    <p style="height:64px;width:82px;margin-top:10px;">
                        <img  ng-src="{{item.projectGroupUrl}}" style="height:64px;width:82px;">
                    </p >
                </div>
                <div class="col col-45 " >
                    <p class="fs15" style="color: #333333!important;"><span>{{item.projectGroupName}}</span></p >
                    <p class="fs15" style="color: #333333!important;">市场价格：¥{{item.initialPrice}}</p >
                    <p class=" fs13" style="color: #ff6666!important;">优惠价格：¥{{item.marketPrice}}</p >
                </div>
                <div class="col col-25 ">
                    <img src="images/mine/overdue.png" style="width:50px;height:50px;" class=" mt10 " ng-if="item.overdue == true">
                    <img src="images/more.png" class="more fr" style="margin-top:30px;">
                    <p ng-if="item.status != '0'&& item.overdue == true" style="position: absolute;bottom: 0;right:30px;"> 已禁用</p>
                </div>
            </ion-item>
            <p class="item fs12" style="color: #999999" ng-if="item.expirationDate != 0">有效期：{{item.effectiveDate}} 至 {{item.expirationDate}}</p>
            <p class="item fs12" style="color: #999999" ng-if="item.expirationDate == 0">有效期：长期有效</p>
        </div>
        <div style="width:100%;height:100%;" ng-if="cardList.length<=0">
            <void-picother></void-picother>
        </div>
    </ion-content>
</ion-view>
