<ion-view class="bg">
    <ion-content>
        <div class="list">
            <li class="item ">品牌名称 <span class="colff66">*</span><span class="fr">如新</span></li>
            <li class="item item-toggle">
                启动/禁用
                <label class="toggle toggle-assertive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </div>
        <div class="tc">
            <button style="width:165px;height: 32px;border-radius:0.46rem;color: #FFFFFF;background: #ff4a59;font-size: 0.34rem" class="button ">保存</button>
        </div>
    </ion-content>
</ion-view>
