<ion-view class="bg">
    <ion-content>
        <div class="h45 bgfff row fs14 bbl">
            <div class="col col-25 center" style="border-right: solid 1px #f6f6f6">
                <p style="margin-top:-10px" ng-class="{'colff66':param.type == 0}" ng-click="selNext('0')">
                    <span >项目</span>
                    <img   src="{{param.type==0?'images/inventory/triangleRed.png':'images/inventory/triangleGray.png'}}" class="trianglePic ml20"></p>
            </div>
            <div class="col col-25 center" style="border-right: solid 1px #f6f6f6">
                <p style="margin-top:-10px" ng-class="{'colff66':param.type == 1}" ng-click="selNext('1')">
                    <span  >产品</span>
                    <img src="{{param.type==1?'images/inventory/triangleRed.png':'images/inventory/triangleGray.png'}}" class="trianglePic ml20" ></p>
            </div>
            <div class="col col-25 center" style="border-right: solid 1px #f6f6f6">
                <p style="margin-top:-10px" ng-click="changeBtn(2)" ng-class="{'colff66':param.type == 2}">套卡</p>
            </div>
            <div class="col col-25 center">
                <p style="margin-top:-10px" ng-click="changeBtn(3)" ng-class="{'colff66':param.type == 3}">充值卡</p>
            </div>
        </div>
       <!--点击下面的商品展示-->
        <div class="sb h30"  ng-if="param.type==0||param.type==1">
            <p class="fs12 col888 ml10"><span ng-if="param.type=='0'">项目</span><span ng-if="param.type=='1'">产品</span> . {{param.oneName}} . {{param.twoName}}</p>
        </div>
        <div class="list"  ng-repeat="item in threeList" ng-if="param.type=='0'" ng-click="projectDetails(item.id)">
            <ion-item  class="row" >
                <div class="col col-20" style="line-height: 49px;">
                    <img style="height:50px;width:75px;margin-top: 20px" ng-src="{{item.projectUrl}}"/>
                </div>
                <div class="col col-30 ml10" >
                    <p class="fs15" style="color: #333333!important;">
                        <span>{{item.projectName}}</span>
                    </p >
                    <p class="fs15" style="color: #333333!important;">市场价格：¥{{item.marketPrice}}</p >
                    <p class=" fs13" style="color: #FF6666!important;">优惠价格价格：¥{{item.marketPrice}}/{{item.serviceTimes}}次</p >
                </div>
                <div class="col col-20">
                    <span style="width: 40px;height: 17px;display: inline-block;background: #FF6666;color: #ffffff;text-align: center;border-radius: 10px;font-size: 10px" ng-if="param.type=='0'">{{item.cardType}}</span>
                    <i class=" ion ion-ios-arrow-right fr" style="margin-top: 40px"></i>
                </div>
            </ion-item>
        </div>
        <div class="list"  ng-repeat="item in threeList" ng-if="param.type=='1'" ng-click="priceShopDetails(item.id)">
            <ion-item  class="row" >
                <div class="col col-20" style="line-height: 49px;">
                    <img style="height:50px;width:75px;margin-top: 20px" ng-src="{{item.projectUrl}}"/>
                </div>
                <div class="col col-30 ml10" >
                    <p class="fs15" style="color: #333333!important;">
                        <span>{{item.productName}}</span>
                    </p >
                    <p class="fs15" style="color: #333333!important;">市场价格：¥{{item.initialPrice}}</p >
                    <p class=" fs13" style="color: #FF6666!important;">优惠价格价格：¥{{item.marketPrice}}</p >
                </div>
                <div class="col col-20">
                    <span style="width: 40px;height: 17px;display: inline-block;background: #FF6666;color: #ffffff;text-align: center;border-radius: 10px;font-size: 10px" ng-if="param.type=='0'">{{item.cardType}}</span>
                    <i class=" ion ion-ios-arrow-right fr" style="margin-top: 40px"></i>
                </div>
            </ion-item>
        </div>
        <div class="list"  ng-repeat="item in threeList" ng-if="param.type=='2'" ng-click="tcardDetails(item.id)">
            <ion-item  class="row" >
                <div class="col col-20" style="line-height: 49px;">
                    <p style="height:64px;width:82px;background: gainsboro;margin-top:5px;">
                        <img  ng-src="{{item.projectGroupUrl}}" style="height:64px;width:82px;">
                    </p >
                </div>
                <div class="col col-55 ml20" >
                    <p class="fs15" style="color: #333333!important;"><span>{{item.projectGroupName}}</span></p >
                    <p class="fs15" style="color: #333333!important;">市场价格：¥{{item.initialPrice}}</p >
                    <p class=" fs13" style="color: #ff6666!important;">优惠价格：¥{{item.marketPrice}}</p >
                </div>
                <div class="col col-25 ">

                    <img src="images/mine/overdue.png" style="width:50px;height:50px;" class="ml20 mt10 " ng-if="item.overdue == false">
                    <img src="images/more.png" class="more fr" style="margin-top:30px;">


                    <p ng-if="item.status != '0'&& item.overdue == true" style="position: absolute;bottom: 0;right:30px;"> 已禁用</p>
                </div>
            </ion-item>
            <p ng-if="param.type=='2'" class="item">有效期：{{item.effectiveDate}} - {{item.expirationDate}}</p>
            <p ng-if="param.type=='2'&& item.expirationDate == '0'" class="item">有效期：长期有效</p>
        </div>
        <div class="list"  ng-repeat="item in threeList" ng-if="param.type=='3'" ng-click="rechargeDetails(item.id)">
            <ion-item  class="row" >
                <div class="col col-20" style="line-height: 49px;">
                    <img style="height:50px;width:75px;margin-top: 20px" ng-src="{{item.projectUrl}}"/>
                </div>
                <div class="col col-30 ml10" >
                    <p class="fs15" style="color: #333333!important;">
                        <span>{{item.name}}</span>
                    </p >
                    <p class="fs15" style="color: #333333!important;">面额：¥{{item.amount}}</p >
                    <p class=" fs13" style="color: #333333!important;">折扣：¥{{item.marketPrice}}</p >
                </div>
                <div class="col col-20">
                    <i class=" ion ion-ios-arrow-right fr" style="margin-top: 40px"></i>
                </div>
            </ion-item>
        </div>
        <!--点击项目  产品显示的内容-->
        <div style="position: absolute;height:100%;background: #000;opacity: 0.2;top:0;width:100%;z-index: 100"  ng-show="param.flag" ng-click="dis()"></div>
        <div style="position: absolute;top:45px;width:100%;z-index: 1000"  class="sb" ng-show="param.flag">
            <ul class=" col333 fs14 " style="width: 50%;overflow-y: scroll;background: #f0f0f0">
                <li class="h40  col333 center " ng-repeat="item in projectList" ng-click="clickFirst($index,item.id,param.type,item.projectTypeName,item.productTypeName);"   ng-class="{'bgfff': param.typeIndex == $index}">
                    <span ng-if="param.type=='0'">{{item.projectTypeName}}</span>
                    <span ng-if="param.type=='1'">{{item.productTypeName}}</span>
                    <i style="float:right;font-size: 0.3rem;margin-top: 10px;margin-right: 10px" class="ion ion-ios-arrow-right"></i>
                </li>
            </ul>
            <ul style="width:77%;background: #FFFFFF;" class="fs14 col333">
                <li class="ml10 h40 sb" style="border-bottom: 1px solid #FFFFFF;" ng-click="clickTwo(item.id,param.type,item.projectTypeName,item.productTypeName);" ng-repeat="item in project2List">
                    <span ng-if="param.type=='0'">{{item.projectTypeName}}</span>
                    <span ng-if="param.type=='1'">{{item.productTypeName}}</span>
                </li>
            </ul>
        </div>
        </div>

    </ion-content>
</ion-view>