<ion-view class="bg">
    <ion-content>
        <div class="list" ng-click="modifyingGo()">
            <li class="item p10">
                <span STYLE="width: 2px;height: 20px;display: inline-block;background: #FF6666;"></span><span class="fs17 col33 ml10">面部</span><i class="ion ion-ios-arrow-right fr"></i>
            </li>
            <li class="item p5" style="display: flex;flex-wrap: wrap">
                  <span style="height: 23px;background: #F6F6F6;color: #333333;padding: 5px;border: 0 solid #E5E5E5;
border-radius: 6px;margin: 5px;font-size: 11px;" ng-repeat="item in [1,2,3,4,5,6,7,8,9,10]">美白</span>
            </li>
        </div>
        <div class="list">
            <li class="item p10">
                <span STYLE="width: 2px;height: 20px;display: inline-block;background: #FF6666;"></span><span class="fs17 col33 ml10">眼部</span><i class="ion ion-ios-arrow-right fr"></i>
            </li>
            <li class="item p5" style="display: flex;flex-wrap: wrap">
                  <span style="height: 23px;background: #F6F6F6;color: #333333;padding: 5px;border: 0 solid #E5E5E5;
border-radius: 6px;margin: 5px;font-size: 11px;" ng-repeat="item in [1,2]">纯补水</span>
            </li>
        </div>
        <div class="list">
            <li class="item p10">
                <span STYLE="width: 2px;height: 20px;display: inline-block;background: #FF6666;"></span><span class="fs17 col33 ml10">养生</span><i class="ion ion-ios-arrow-right fr"></i>
            </li>
            <li class="item p5" style="display: flex;flex-wrap: wrap">
                  <span style="height: 23px;background: #F6F6F6;color: #333333;padding: 5px;border: 0 solid #E5E5E5;
border-radius: 6px;margin: 5px;font-size: 11px;" ng-repeat="item in [1,2]">全身</span>
            </li>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-assertive">
        <div class="title" >添加</div>
    </div>
</ion-view>