<ion-view class="bg">
    <ion-content>
        <div class="list">
            <li class="item p10">面部</li>
            <ion-item  class="row" ng-repeat="item in [1,2,3,4]">
                <div class="col col-20" style="line-height: 49px;">
                    <p style="height:50px;width:75px;background: gainsboro;"></p >
                </div>
                <div class="col col-30 ml10" >
                    <p class="fs15" style="color: #333333!important;"><span>保湿</span></p >
                    <p class="fs15" style="color: #333333!important;">单次：¥680.00</p >
                    <p class=" fs13" style="color: #333333!important;">办卡：¥580.00/30次</p >
                </div>
                <div class="col col-20">
                    <img src="images/mine/Unselected.png" style="width: 20px;height: 20px;float: right;margin-top: 25px">
                </div>
            </ion-item>
        </div>
    </ion-content>
    <div class="bar bar-footer bar-assertive">
        <div class="title">完成</div>
</ion-view>
